POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

PORT =
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
BASE_URL=
JWT_SECRET =
WEATHER_API_KEY =
WEATHER_URL =
GLOBAL_PREFIX =
DATABASE_URL =
DATABASE_SSL =